@model List<ExpenseTypeDto>

@{
    ViewBag.Title = "Expense Types";
    Layout = "_Layout";
}

@await Html.PartialAsync("Partial/_CreateExpenseType", new ExpenseTypeDto())
@await Html.PartialAsync("Partial/_UpdateExpenseType", new ExpenseTypeDto())

<button id="openSidebarCreateExpenseType" class="flex items-center space-x-1">
    Create expense type
</button>

<div id="content" class="m-6 flex w-full flex-col space-y-6 overflow-scroll rounded-md bg-white p-6">
    <h3 class="text-2xl font-semibold">@ViewData["Title"]</h3>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <button id="openSidebarUpdateExpenseType" onclick="GetExpenseTypeById(@item.Id)" class="flex items-center space-x-1">
                        Edit
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
    
        $(document).ready(function () {
            AddSidebar("CreateExpenseType");
            AddSidebar("UpdateExpenseType");
        });
        
        function GetExpenseTypeById(id) {
            axios.get('@Url.Action("GetExpenseTypeById", "ExpenseTypes")', {
                params: {
                    id: id
                }
            })
            .then(function (response) {
                console.log(response);
            })
            .catch(function (error) {
                console.log(error);
            })
            .finally(function () {
                console.log("Done");
            });
        }
    
    </script>
}