@{
    ViewData["Title"] = "🔥 Privacy";
}

<div id="content" class="m-6 flex w-full flex-col space-y-6 overflow-scroll rounded-md bg-white p-6">
    <h3 class="text-2xl font-semibold">@ViewData["Title"]</h3>
    <p>Средства интерфейса командной строки (CLI) для Entity Framework Core выполняют задачи разработки во время разработки. Например, они создают миграции, применяют миграции и создают код для модели на основе существующей базы данных. Команды являются расширением кроссплатформенной команды dotnet , которая является частью пакета SDK для .NET Core. Эти средства работают с проектами .NET Core.</p>
    <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-5">
        <div class="rounded-md bg-slate-200 p-4">p</div>
        <div class="rounded-md bg-slate-200 p-4">p</div>
        <div class="rounded-md bg-slate-200 p-4">p</div>
        <div class="rounded-md bg-slate-200 p-4">p</div>
        <div class="rounded-md bg-slate-200 p-4">p</div>
    </div>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - FamilyBudget - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
</div>

@section Scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#menuToggle').click(function() {
                $('#menu').toggle();
                $('#content').toggle();
            });
        });
    </script>
}